{% extends 'template.html' %}

{% block title %}Create Form{% endblock title %}

{% block content %}

<style>

</style>

{% load crispy_forms_tags %}
    <div class="content-section" style="margin-top: 3%;">
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom">
                    New Form
                </legend>
                {{ form|crispy }}
            </fieldset>
        <div style="display: flex;">
            
            <button type="submit" class="btn btn-outline-info" style="margin-top: 2%;">Continue</button>
            
        </div>
        </form>
        <button class="btn btn-outline-success" id="add-q" style="margin-bottom: 2%; margin-top: 2%;">Add Question</button>
        <div id="input-fields">
                
        </div>
    </div>

{% endblock content %}
