{% extends 'template.html' %}

{% block title %}Create Form{% endblock title %}

{% block content %}

{% load crispy_forms_tags %}
    <div class="content-section">
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom">
                    New Form
                </legend>
                {{ form|crispy }}
            </fieldset>
            <div id="qstns">

            </div>
            
            <div class="form-group">
                <button type="submit" class="btn btn-outline-info">Continue</button>
            </div>
        </form>
        <button class="btn btn-outline-success" id="add-q">Add Question</button>
        <div id="input-fields">
                
        </div>
    </div>

{% endblock content %}
