{% extends 'template.html' %}

{% block content %}

    {% if messages %}
            
    {% for message in messages %}

    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        <strong>Holy guacamole!</strong> {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    {% endfor %}

    {% endif %}

    {% for gform in gforms %}

        <div class="card" style="width: 18rem;">
            <div class="card-body">
            <h5 class="card-title">{{gform.owner}}</h5>
            <p class="card-text">{{gform.name}}</p>
            <a href="" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

    {% endfor %}
{% endblock content %}

{% block title %}
    Home
{% endblock title %}